<mat-tab-group>
  <mat-tab label="{{'projectResource.normal'|translate}}"> 
      <table class="table" [appSpinner]="loadingData">
          <tr>
              <th>Project Number</th>
              <th>Project Name</th>
              <th>Address</th>
              <th>City</th>
          </tr>
          <tr *ngFor="let project of projects">
             <td>{{project.ProjectNumber}}</td> 
             <td>{{project.ProjectName}}</td> 
             <td>{{project.Address}}</td> 
             <td>{{project.City}}</td> 
          </tr>
      </table>
   </mat-tab>
  <mat-tab label="{{'projectResource.done'|translate}}">
      
  </mat-tab>
  <mat-tab label="{{'projectResource.completed'|translate}}">

  </mat-tab>
</mat-tab-group>