<mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/myPage']">
        <mat-icon>home</mat-icon>
    </button>
    <div class="fill-remaining-place"></div>
    <button mat-button [routerLink]="['/proposals']">Proposal</button> |
    <button mat-button [routerLink]="['/projects']">Project</button> |
    <button mat-button [routerLink]="['/projects']">Service Order</button> |
    <button mat-button [routerLink]="['/projects']">Register</button> |
    <button mat-button [routerLink]="['/projects']">Report</button> | 

    <button mat-mini-fab>
        <mat-icon>add</mat-icon>
    </button>
    

    <button mat-icon-button>
        <mat-icon>mail_outline</mat-icon>
    </button>

    <img class="avatar" src="../../../assets/user.png" [matMenuTriggerFor]="userMenu">

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="logout()">Logout</button>
        <div>
            <button mat-icon-button  (click)="setLanguage('en')">
                <img src="../../../assets/flags/british.png">
            </button>
            <button mat-icon-button  (click)="setLanguage('sv')">
                <img src="../../../assets/flags/sweden.png">
            </button>
        </div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="manageMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #manageMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>Time manage</button>
        <button mat-menu-item>Material manage</button>
    </mat-menu>
</mat-toolbar>