<form #form="ngForm" (ngSubmit)="login(form.value)" class="login-container">
  <mat-card>
    <mat-card-header>
      
    </mat-card-header>
    
    <mat-card-content>
        <input type="text" matInput class="form-control" name="username" [(ngModel)]="username">
        <input type="password" matInput class="form-control" name="password" [(ngModel)]="password">
    </mat-card-content>

    <mat-card-actions>
        <button type="submit" mat-raised-button class="full-width">Login</button>
    </mat-card-actions>
  </mat-card>
</form>